<!-- Series System plugin javascript -->
<%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/series-system.js" %>

<% begin %>
  <% if current_record && RelationshipRules.instance.has_rules_for_jsonmodel_type?(current_record['jsonmodel_type']) %>
    <!-- Allow series system relationships to be created from required contexts -->
    <%= javascript_include_tag("series_system_relationships.crud.js") %>
  <% end %>
<% rescue %>
<% end %>

<script type="text/template" id="seriesSystemBrowseActions">
  <li class="divider"></li>
  <li><%= link_to I18n.t("mandate._plural"), :controller => :mandates, :action => :index %></li>
  <li><%= link_to I18n.t("function._plural"), :controller => :functions, :action => :index %></li>
</script>
<script type="text/template" id="seriesSystemCreateActions">
  <li class="divider"></li>
  <li><%= link_to I18n.t("mandate._singular"), :controller => :mandates, :action => :new %></li>
  <li><%= link_to I18n.t("function._singular"), :controller => :functions, :action => :new %></li>
</script>

<% if ['new', 'edit', 'create', 'update'].include?(controller.action_name) %>
  <!-- JS for detecting similar agent names  -->
  <link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/similar_agencies.css" %>" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag("similar_agencies.js") %>
  <%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/simplify-form.js" %>
  <script>
    $(document).ready(function() {
        $.getJSON('<%= "#{request.base_url}/assets/config/hidden_fields.json" %>')
          .then(json => new SimplifyFields(json, '<%= controller_name %>'))
    });
  </script>
<% end %>
