<!-- Series System plugin javascript -->
<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/series-system.js" %>

<% begin %>
  <% if current_record && SeriesSystemHelper.supports_function?(current_record['jsonmodel_type']) %>
    <!-- Allow functions to be created inline -->
    <%= javascript_include_tag("related_functions.crud.js") %>
  <% end %>
<% rescue %>
<% end %>

<script type="text/template" id="seriesSystemBrowseActions">
  <li class="divider"></li>
  <li><%= link_to I18n.t("mandate._plural"), :controller => :mandates, :action => :index %></li>
  <li><%= link_to I18n.t("function._plural"), :controller => :functions, :action => :index %></li>
</script>
<script type="text/template" id="seriesSystemCreateActions">
  <li class="divider"></li>
  <li><%= link_to I18n.t("mandate._singular"), :controller => :mandates, :action => :new %></li>
  <li><%= link_to I18n.t("function._singular"), :controller => :functions, :action => :new %></li>
</script>
