<!-- Series System plugin javascript -->
<%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/series-system.js" %>

<% begin %>
  <% if current_record && SeriesSystemHelper.supports_function?(current_record['jsonmodel_type']) %>
    <!-- Allow functions to be created inline -->
    <%= javascript_include_tag("related_functions.crud.js") %>
  <% end %>
<% rescue %>
<% end %>

<script type="text/template" id="seriesSystemBrowseActions">
  <li class="divider"></li>
  <li><%= link_to I18n.t("mandate._plural"), :controller => :mandates, :action => :index %></li>
  <li><%= link_to I18n.t("function._plural"), :controller => :functions, :action => :index %></li>
</script>
<script type="text/template" id="seriesSystemCreateActions">
  <li class="divider"></li>
  <li><%= link_to I18n.t("mandate._singular"), :controller => :mandates, :action => :new %></li>
  <li><%= link_to I18n.t("function._singular"), :controller => :functions, :action => :new %></li>
</script>

<% if controller.controller_name == 'resources' %>
  <% if ['new', 'create'].include?(controller.action_name) %>
    <%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/new_series_form.js" %>
  <% elsif controller.action_name == 'edit' %>
    <%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/edit_series_form.js" %>
  <% else %>
    <%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/show_series_form.js" %>
  <% end %>
<% end %>

<% if ['new', 'edit', 'create'].include?(controller.action_name) %>
  <!-- JS for detecting similar agent names  -->
  <link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/similar_agencies.css" %>" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag("similar_agencies.js") %>
<% end %>
