<% define_template "related_function_type_nil" do %>
  <div class="inline-subform">
    <div class="form-group">
      <div class="control-label col-sm-2"></div>
      <div class="controls col-sm-6"><em><%= I18n.t("related_function._frontend.messages.select_a_type") %></em></div>
    </div>
  </div>
<% end %>

<% jsonmodel_definition(:function).allowable_types_for("related_functions").each do |relationship_type| %>
  <% define_template "#{relationship_type}", jsonmodel_definition(relationship_type.intern) do |form| %>
    <div class="subrecord-form-fields">
      <h4 class="subrecord-form-heading"><%= I18n.t("#{relationship_type}._singular") %></h4>
      <div class="subrecord-form-container">
        <%= form.hidden_input(:jsonmodel_type, "#{relationship_type}") %>
        <%= form.label_and_select("relator", form.possible_options_for("relator")) %>
        <%= render_aspace_partial :partial => "functions/linker",
                                  :locals => {
                                      :form => form,
                                      :linker_label => I18n.t("#{relationship_type}.ref"),
                                      :exclude_ids => @function.uri ? [@function.uri] : [],
                                      :multiplicity => :one
                                  }
        %>
      </div>
    </div>
  <% end %>
<% end %>

<% define_template "related_function" do |form| %>
  <% if jsonmodel_definition(:function).allowable_types_for("related_functions").include?(form.obj['jsonmodel_type']) %>
    <% form.emit_template form.obj['jsonmodel_type'] %>
  <% else %>
    <div class="subrecord-form-fields">
      <div class="form-group">
        <label class="control-label col-sm-2"><%= I18n.t("related_function.relationship_type") %></label>
        <div class="col-sm-4">
          <select class="form-control" name="related_function_type">
            <option value="related_function_type_nil"></option>
            <% jsonmodel_definition(:function).allowable_types_for("related_functions").sort_by {|type| I18n.t("#{type}._singular")}.each do |type| %>
              <option value="<%= type %>"><%= I18n.t("#{type}._singular") %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="relationship-subform">
        <% form.emit_template "related_function_type_nil" %>
      </div>
    </div>
  <% end %>
<% end %>