<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @mandate, :form => form} %>

<fieldset>
  <% define_template "mandate", jsonmodel_definition(:mandate) do |form| %>
    <section id="basic_information">
      <h3>
        <%= I18n.t("mandate._frontend.section.basic_information") %>
        <%= link_to_help :topic => "mandate_basic_information" %>
      </h3>
      <%= form.label_and_textfield "title" %>
      <%= form.label_and_select "mandate_type", form.possible_options_for("mandate_type", true) %>
      <%= form.label_and_textarea "description" %>
      <%= form.label_and_textfield "identifier" %>
      <%= form.label_and_date "start_date" %>
      <%= form.label_and_date "end_date" %>
      <% form.push('location', form.obj['location'] || {}) do %>
        <%= render_aspace_partial :partial => "locations/linker", :locals => { :form => form, multiplicity: "one" }%>
      <% end %>
    </section>
  <% end %>

  <% form.emit_template("mandate") %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "functions", :template => "function"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>

</fieldset>
