<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @mandate, :form => form} %>

<fieldset>
  <% define_template "mandate", jsonmodel_definition(:mandate) do |form| %>
    <section id="basic_information">
      <h3>
        <%= I18n.t("mandate._frontend.section.basic_information") %>
        <%= link_to_help :topic => "mandate_basic_information" %>
      </h3>
      <%= form.label_and_textfield "title" %>
      <%= form.label_and_select "mandate_type", form.possible_options_for("mandate_type", true) %>
      <%= form.label_and_textfield "reference_number" %>
      <%= form.label_and_textarea "note" %>
      <%= form.label_and_boolean "publish" %>
    </section>
  <% end %>

  <% form.emit_template("mandate") %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "date", :cardinality => :zero_to_one, :template_erb => "dates/template", :template => "existence_date", :heading_text => I18n.t("date._singular")} %>
  <%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>

  <%= form_plugins_for("mandate", form) %>
</fieldset>
