<%
  section_id = "mandates" if section_id.blank?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("mandate._plural") %></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="col-xs-6"><%= I18n.t('mandate._singular') %></th>
          <th class="col-xs-3"><%= I18n.t('mandate_rlshp.start_date') %></th>
          <th class="col-xs-3"><%= I18n.t('mandate_rlshp.end_date') %></th>
        </tr>
        </thead>
        <tbody>
        <% mandates.each_with_index do | mandate, index | %>
          <tr>
            <td>
              <div class="col-xs-6 token-list">
                <%= render_token :object => mandate['_resolved'],
                                 :label => mandate['_resolved']['display_string'],
                                 :type => "mandate",
                                 :uri => mandate['ref'] %>
              </div>
            </td>
            <td>
              <%= mandate['start_date'] %>
            </td>
            <td>
              <%= mandate['end_date'] %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
