<%= setup_context(:title => I18n.t("mandate._plural")) %>

<%
  @show_multiselect_column = user_can?("delete_mandate_record")
  @no_title = true

  add_column(I18n.t("mandate.title"), proc {|record| record['mandate_title__u_sstr'] ? record['mandate_title__u_sstr'][0] : nil}, :sortable => true, :sort_by => "title_sort")
  add_column(I18n.t("mandate.mandate_type"), proc {|record| I18n.t("enumerations.mandate_type.#{record['mandate_type_u_ssort']}", :default => record['mandate_type_u_ssort'])}, :sortable => true, :sort_by => "mandate_type_u_ssort")
  add_column(I18n.t("mandate.commencement_date"), proc {|record| record['commencement_date_u_sstr'] ? record['commencement_date_u_sstr'][0] : nil}, :sortable => true, :sort_by => "commencement_date_u_sortdate")
  add_column(I18n.t("mandate.termination_date"), proc {|record| record['termination_date_u_sstr'] ? record['termination_date_u_sstr'][0] : nil}, :sortable => true, :sort_by => "termination_date_u_sortdate")
%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_mandate_record') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %>
          <%= link_to I18n.t("mandate._frontend.action.create"), {:controller => :mandates, :action => :new}, :class => "btn btn-sm btn-default" %>
        </div>
        <br style="clear:both" />
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("mandate._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
