<%= setup_context :object => @mandate, :title => @mandate.title %>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :mandate, @mandate do |readonly| %>
        <h2><%= @mandate.title %>  <span class="label label-info"><%= I18n.t("mandate._singular") %></span></h2>

        <%= render_aspace_partial :partial => "shared/flash_messages" %>

        <% define_template "mandate", jsonmodel_definition(:mandate) do |form, mandate| %>
          <section id="basic_information">
            <h3><%= I18n.t("mandate._frontend.section.basic_information") %></h3>

            <%= form.label_and_textfield "title" %>
            <%= display_audit_info(@mandate) %>
          </section>
        <% end %>

        <%= readonly.emit_template "mandate" %>

        <% if not @mandate.functions.blank? %>
          <%= render_aspace_partial :partial => "functions/show_as_subrecords", :locals => {:functions => @mandate.functions, :section_id => "mandate_functions_"} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
