<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @function, :form => form} %>

<fieldset>
  <% define_template "function", jsonmodel_definition(:function) do |form| %>
    <section id="basic_information">
      <h3>
        <%= I18n.t("function._frontend.section.basic_information") %>
        <%= link_to_help :topic => "function_basic_information" %>
      </h3>
      <%= form.label_and_textfield "title" %>
      <%= form.label_and_textarea "description" %>
      <%= form.label_and_textfield "identifier" %>
      <%= form.label_and_date "start_date" %>
      <%= form.label_and_date "end_date" %>
    </section>
<% end %>

  <% form.emit_template("function") %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "mandates", :template => "mandate"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
  <% form.push('location', form.obj['location'] || {}) do %>
    <%= render_aspace_partial :partial => "locations/linker", :locals => { :form => form, multiplicity: "one" }%>
  <% end %>
</fieldset>
