<%
  section_id = "functions" if section_id.blank?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("function._plural") %></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col-xs-8"><%= I18n.t('function._singular') %></th>
            <th class="col-xs-2"><%= I18n.t('function.start_date') %></th>
            <th class="col-xs-2"><%= I18n.t('function.end_date') %></th>
          </tr>
        </thead>
        <tbody>
          <% functions.each_with_index do | function, index | %>
            <td>
              <div class="col-xs-6 token-list">
              <%= render_token :object => function['_resolved'],
                               :label => function['_resolved']['title'],
                               :type => "function",
                               :uri => function['ref'] %>
              </div>
            </td>
            <td><%= function['start_date'] %></td>
            <td><%= function['end_date'] %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
